<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      Please vote. It is your civic duty. Don't write in Harambe.<br>
    </p>
    <p>
      To vote, just follow this link: <%= @url %>.
    </p>
    <p>Much preesh!</p>
  </body>
</html>